body {background-color: rgb(3, 116, 116);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {background-color: blueviolet
    ;}


/*.img {
    position: relative;
    padding: auto;
    width: 50%;
    object-fit: fill;
    inline-size: 50%;
    justify-content: space-evenly;
  }
*/
p{  text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6mm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/20231007_130255.jpg");
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p {text-align: center;
text-emphasis-color: black;}


.flex-container{
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  border-style: none;
  position: relative;
  padding-bottom: 20px;
}

.container{
  display: flex;
  justify-content: space-around;
  float: none;
  height: 100px;
  border-style: none;
  position: relative;
  padding: 30px;

}

.b{  border-style: solid;
  border-color:black;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.c{  border-style: solid;
  border-color:black;
  object-fit: cover;
  width: 100%;
}
/*.d{  border-style: solid;
  border-color:black;
justify-content: space-evenly;}
*/

h3{
justify-self: auto;
background-color: antiquewhite;
padding: 20px;
align-self: flex-end;
}

footer{padding: 10px;}